<% layout('./layouts/page') %> 
<% block('title', 'Some problem') %>

<!-- Start Body -->

<div class="m-3 text-center">
  <img class="img-fluid img-thumbnail rounded" src="/images/empty-fridge.jpg" class="d-block" alt="...">
  <h1 class="p-3 error-text">Oops! <br> <%= msg %> </h1>
</div>

<!-- End Body -->